<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>{% block title %} {% endblock %}</title>

    {% stylesheets '@AppBundle/Resources/public/css/*' %}
    <link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
    {% endstylesheets %}

    {% javascripts
    '@AppBundle/Resources/public/js/jquery-1.11.3.min.js'
    '@AppBundle/Resources/public/js/sonata_admin_js.js'
    '@AppBundle/Resources/public/js/sonata_front_js.js'
    '@AppBundle/Resources/public/js/sonata_jqueryui_js.js'
    '@AppBundle/Resources/public/js/bootstrap.min.js'
    '@AppBundle/Resources/public/js/accordion.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
</head>
<body>
<div style="margin: auto; width:50%">
    {% block fos_user_content %}
    {% endblock %}
</div>
</body>
</html>