sonata_user:
    security_acl:     false
    manager_type:     orm

    admin:                  # Admin Classes
        group:
            class:          AppBundle\Admin\GroupAdminExtended
            controller:     SonataAdminBundle:CRUD
            translation:    SonataUserBundle

        user:
            class:          AppBundle\Admin\UserAdminExtended
            controller:     SonataAdminBundle:CRUD
            translation:    SonataUserBundle

    class:
            user:         Application\Sonata\UserBundle\Entity\User
            group:        Application\Sonata\UserBundle\Entity\Group

    profile:
        dashboard:
                blocks:
                    - { position: left, type: sonata.block.service.text, settings: { content: "<h2>Welcome!</h2> This is a sample user profile dashboard, feel free to override it in the configuration! Want to make this text dynamic? For instance display the user's name? Create a dedicated block and edit the configuration!"} }
                    - { position: right, type: sonata.block.service.infouser}
        # Customize user portal menu by setting links
        menu:
            - { route: 'sonata_user_profile_show', label: 'sonata_profile_title', domain: 'SonataUserBundle'}
            - { route: 'sonata_user_profile_edit', label: 'link_edit_profile', domain: 'SonataUserBundle'}
            - { route: 'base_list', label: 'title_base', domain: 'SonataUserBundle'}
            - { route: 'match_list', label: 'title_match', domain: 'SonataUserBundle'}

        form:
            type:               public_user_registration
            handler:            sonata.user.profile.form.handler.default
            name:               sonata_user_profile_form
            validation_groups:  [Profile]
