<td>
    {% block actions %}
        <li>{% include 'SonataAdminBundle:Button:show_button.html.twig' %}</li>
        <li>{% include 'SonataAdminBundle:Button:edit_button.html.twig' %}</li>
        <li>{% include 'SonataAdminBundle:CRUD:delete.html.twig' %}</li>
    {% endblock %}
</td>