<a href="{{ admin.generateObjectUrl('downloadMatch', object) }}" class="btn btn-sm btn-default view_link" title="Telecharger">
    <i class="glyphicon glyphicon-download-alt"></i>
    Télécharger
</a>