.panel-md5{
    border-color: #FF0000 !important;
}

.panel-md5>.panel-heading {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e83c3c+0,d11919+52,d11919+100 */
    background: #e83c3c; /* Old browsers */
    background: -moz-linear-gradient(top, #e83c3c 0%, #d11919 52%, #d11919 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e83c3c), color-stop(52%,#d11919), color-stop(100%,#d11919)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #e83c3c 0%,#d11919 52%,#d11919 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #e83c3c 0%,#d11919 52%,#d11919 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #e83c3c 0%,#d11919 52%,#d11919 100%); /* IE10+ */
    background: linear-gradient(to bottom, #e83c3c 0%,#d11919 52%,#d11919 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e83c3c', endColorstr='#d11919',GradientType=0 ); /* IE6-9 */
    background-repeat: repeat-x;
}

.panel-md5 > .panel-heading {
    color: #fff;
    border-color: #b40000;
}

.panel-md5 > .panel-heading > a > h4  {
    color: #fff;
    font-weight: bold;
}

.panel-md5-light{
    border-color: rgb(41, 41, 41) !important;
}

.panel-md5-light>.panel-heading {
    background-image: -webkit-linear-gradient(top, rgb(82, 82, 82) 0, rgb(41, 41, 41) 100%);
    background-image: -o-linear-gradient(top, rgb(82, 82, 82) 0, rgb(41, 41, 41) 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(rgb(82, 82, 82)),to(rgb(41, 41, 41)));
    background-image: linear-gradient(to bottom, rgb(82, 82, 82) 0, rgb(41, 41, 41) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffFF0000', endColorstr='#ffb40000', GradientType=0);
    background-repeat: repeat-x;
}

.panel-md5-light:hover > .panel-heading {
    background-image: -webkit-linear-gradient(top, rgb(41, 41, 41) 0, rgb(82, 82, 82) 100%);
    background-image: -o-linear-gradient(top, rgb(41, 41, 41) 0, rgb(82, 82, 82) 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(rgb(41, 41, 41)),to(rgb(82, 82, 82)));
    background-image: linear-gradient(to bottom, rgb(41, 41, 41) 0, rgb(82, 82, 82) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffFF0000', endColorstr='#ffb40000', GradientType=0);
    background-repeat: repeat-x;
}

.panel-md5-light>.panel-heading {
    color: #fff;
    border-color: rgb(41, 41, 41);
}

.panel-md5-light > .panel-heading > a > h4  {
    color: #fff;
    font-weight: bold;
}

.panel-md5-light > .panel-heading > a {
    text-decoration: inherit !important;
}

.panel-md5 > .panel-heading > a {
    text-decoration: inherit !important;
}

.panel-md5-dark{
    border:1px solid rgb(56, 56, 56) !important;
}

.panel-md5-dark>.panel-heading {
    background-image: -webkit-linear-gradient(top, rgb(82, 82, 82) 0, rgb(56, 56, 56) 100%);
    background-image: -o-linear-gradient(top, rgb(82, 82, 82) 0, rgb(56, 56, 56) 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(rgb(82, 82, 82)),to(rgb(56, 56, 56)));
    background-image: linear-gradient(to bottom, rgb(82, 82, 82) 0, rgb(56, 56, 56) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffFF0000', endColorstr='#ffb40000', GradientType=0);
    background-repeat: repeat-x;
    color: #fff;
    border-color: rgb(56, 56, 56);
}

.panel-md5-dark > .panel-heading > a > h4  {
    color: #fff;
    font-weight: bold;
}

.panel-md5-dark > .panel-heading > a {
    text-decoration: inherit !important;
}

.textRight{
    text-align: right;
}

.textCenter{
    text-align: center;
}

.underline{
    text-decoration: underline;
}

.space{
    height:50px;
}

.noMargin{
    margin:0;
}

.mini_img{
    width: 100px;
    height: 100px;
}

#accordion > p{
    color: green;
}

.actives{
    background-color:red !important;
    color:green !important;
}

.dashboard_block{
    border: 1px solid #8B8986;
    padding:20px;
    padding-top: 5px;
    margin-bottom: 20px;
}

.main_header{
    padding: 30px;
    padding-left: 0px;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e83c3c+0,d11919+52,d11919+100 */
    background: #e83c3c; /* Old browsers */
    background: -moz-linear-gradient(top, #e83c3c 0%, #d11919 52%, #d11919 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e83c3c), color-stop(52%,#d11919), color-stop(100%,#d11919)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #e83c3c 0%,#d11919 52%,#d11919 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #e83c3c 0%,#d11919 52%,#d11919 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #e83c3c 0%,#d11919 52%,#d11919 100%); /* IE10+ */
    background: linear-gradient(to bottom, #e83c3c 0%,#d11919 52%,#d11919 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e83c3c', endColorstr='#d11919',GradientType=0 ); /* IE6-9 */
}

.main_header h2{
    margin: 0px;
    color: #ffffff;
}

.main_header img{
    height: 35px;
    float: left;
    margin-right: 40px;
}

.space_main_header_after{
    height: 15px;
    width: 100%;
    background-color: #363636;
    margin-bottom: 60px;

    -moz-box-shadow: 0px 5px 15px 0px #656565;
    -webkit-box-shadow: 0px 5px 15px 0px #656565;
    -o-box-shadow: 0px 5px 15px 0px #656565;
    box-shadow: 0px 5px 15px 0px #656565;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=180, Strength=15);
}

.space_main_header_before{
    height: 25px;
    background-color: #292929;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f2f5f6+0,e3eaed+37,c8d7dc+100;Grey+3D+%234 */
    background: #f2f5f6; /* Old browsers */
    background: -moz-linear-gradient(top, #f2f5f6 0%, #e3eaed 37%, #c8d7dc 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f5f6), color-stop(37%,#e3eaed), color-stop(100%,#c8d7dc)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%); /* IE10+ */
    background: linear-gradient(to bottom, #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f5f6', endColorstr='#c8d7dc',GradientType=0 ); /* IE6-9 */

    -moz-box-shadow: inset 0px -1px 7px 0px #343434;
    -webkit-box-shadow: inset 0px -1px 7px 0px #343434;
    -o-box-shadow: inset 0px -1px 7px 0px #343434;
    box-shadow: inset 0px -1px 7px 0px #343434;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#343434, Direction=90, Strength=7);
}

.logo_login{
    margin: auto;
    margin-top: -30px;
}

.menu-md5{
    margin-bottom: 50px;
}

.menu-md5 a{
    border: 1px solid rgba(199, 10, 10, 0.20);
}

.menu-md5 a.active{
    border: 1px solid #c70a0a !important;
    text-shadow: 0 -1px 0 #c70a0a;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e83c3c+0,d11919+52,d11919+100 */
    background: #e83c3c; /* Old browsers */
    background: -moz-linear-gradient(top, #e83c3c 0%, #d11919 52%, #d11919 100%) !important; /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e83c3c), color-stop(52%,#d11919), color-stop(100%,#d11919)) !important; /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #e83c3c 0%,#d11919 52%,#d11919 100%) !important; /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #e83c3c 0%,#d11919 52%,#d11919 100%) !important; /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #e83c3c 0%,#d11919 52%,#d11919 100%) !important; /* IE10+ */
    background: linear-gradient(to bottom, #e83c3c 0%,#d11919 52%,#d11919 100%) !important; /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e83c3c', endColorstr='#d11919',GradientType=0 ) !important; /* IE6-9 */

    font-weight: bold;
    border-bottom: 5px solid #292929 !important;
}

.menu-md5 a.list-group-item.active:hover{
    text-shadow: 0 1px 0 #c70a0a !important;
}

.menu-md5 a.list-group-item:hover{
    background-color: rgba(199, 10, 10, 0.05);
    border: 1px solid rgba(199, 10, 10, 0.10);
}