{% extends "SonataUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    <div class="space"></div>
    <p>
        <b>Conditions GENERALE d’utilisation de la plate- Forme MD5</b>

        <b>Préambule :</b> La plateforme est un outil technique édité par CCMBENCHMARK DATA ET MARKETING visant à identifier des profils MD5 éligibles à une campagne marketing proposée.

        La plateforme est disponible à l'adresse suivante : <a href="https://md5.r-target.com/">https://md5.r-target.com/</a>

        <b>1.</b> Ne doivent être importées et traitées que des données anonymes ( MD5) tout chargement d'adresse email en clair sera rejeté et intraitable.

        <b>2.</b> L'éditeur est seul responsable de la diffusion des campagnes.

        <b>3.</b> L'éditeur s'engage expressément à diffuser la campagne exclusivement sur les potentiels communs et récupérable sur la plateforme après validation.

        <b>4.</b> L'éditeur doit être capable de prouver la diffusion sur les MD5 concernés sur simple demande.

        <b>5.</b> CCMBENCHMARK DATA ET MARKETING se réserve le droit d'annuler les gains et de poursuivre l'éditeur pour tout manquement aux points 3 et 4.

        <b>6.</b> Les rémunérations et kits graphiques sont diffusés par les équipes de CCMBENCHMARK DATA et Marketing en parallele de la plateforme si vous êtes accepté sur une campagne.
    </p>
{% endblock %}
