{% extends sonata_block.templates.block_base %}

{% block block %}
    <div class="dashboard_block">
        <h3 class="sonata-feed-title">{{ settings.title }}</h3>

        <div class="sonata-feeds-container">
            <br/>
            <ul>
                <li>Importez votre/vos bases</li>
                <li>Le matching s'effectue automatiquement</li>
                <li>Consultez les campagnes</li>
                <li>Postulez</li>
                <li>Recevez de la part de nos équipes les données matchées apres validation</li>
            </ul>
        </div>
    </div>
{% endblock %}