{% extends sonata_block.templates.block_base %}

{% block block %}
    <div class="panel panel-md5-dark">
        <div class="panel-heading">
            <h2 class="panel-title"><b>{{ settings.title }}</b></h2>
        </div>
        <div class="panel-body" style="padding: 20px">
            <ul>
                <li style="color:red"><p style="font-size: 15px; color:#000000">Importez votre/vos bases</p></li>
                <li style="color:red"><p style="font-size: 15px; color:#000000">Postulez à une campagne</p></li>
                <li style="color:red"><p style="font-size: 15px; color:#000000">Recevez les cibles matchées</p></li>
            </ul>
        </div>
    </div>
{% endblock %}